In [1]:
import pandas as pd
import numpy as np

In [3]:
#reindex function is used to reorder the index in the data frame
#it means it changes the row label and column label of a data frame
index=['Firefox','Chromne','Explorer','Mozilla']
df=pd.DataFrame({'http_status':[200,300,400,500],'response_time':[0.4,0.35,0.55,0.66]},index=index)
df

          http_status  response_time
Firefox           200           0.40
Chromne           300           0.35
Explorer          400           0.55
Mozilla           500           0.66

In [4]:
new_index=['Linux','Kali','Firebase','macos']
df.reindex(new_index)

          http_status  response_time
Linux             NaN            NaN
Kali              NaN            NaN
Firebase          NaN            NaN
macos             NaN            NaN

In [5]:
#using of reset index
index=['Firefox','Chromne','Explorer','Mozilla']
df=pd.DataFrame({'http_status':[200,300,400,500],'response_time':[0.4,0.35,0.55,0.66]},index=index)
df

          http_status  response_time
Firefox           200           0.40
Chromne           300           0.35
Explorer          400           0.55
Mozilla           500           0.66

In [6]:
df.reset_index()

      index  http_status  response_time
0   Firefox          200           0.40
1   Chromne          300           0.35
2  Explorer          400           0.55
3   Mozilla          500           0.66

In [7]:
df.reset_index(drop=True)

   http_status  response_time
0          200           0.40
1          300           0.35
2          400           0.55
3          500           0.66

In [8]:
#sort index
#It is used to sort the index
df.sort_index()

          http_status  response_time
Chromne           300           0.35
Explorer          400           0.55
Firefox           200           0.40
Mozilla           500           0.66

In [10]:
df['http_status'].sort_values()

Firefox     200
Chromne     300
Explorer    400
Mozilla     500
Name: http_status, dtype: int64

In [11]:
#replace and drop function
#replace functions used to replace old values with new values
import pandas as pd
df=pd.DataFrame({'A':['bat','foo','bai'],'B':['abc','uvw','xyz']})
df

     A    B
0  bat  abc
1  foo  uvw
2  bai  xyz

In [12]:
df['A']=df['A'].replace(('foo'),('ram'))

In [13]:
df

     A    B
0  bat  abc
1  ram  uvw
2  bai  xyz

In [14]:
df['B']=df['B'].replace(('uvw','def'))

In [21]:
#introduction to split and strip function
#split function splits a string into list
s="x y z"
print(s.split('  '))

['x y z']

# Introduction to melt expose and squeeze function

In [24]:
df=pd.DataFrame({'A':{0:'a',1:'b',2:'c'},'B':{0:1,1:3,2:5},'C':{0:2,1:4,2:6}})
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [25]:
df.melt(id_vars=['A'],value_vars=['B'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5